
.amenities h2{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: 30px;
    font-family: Consolas;
  }
  
  .amenities .container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .amenities .container .card {
    height: 100px;
    width: calc(40% - 20px); /* Adjusted width for two columns with some margin */
    border: 2px #00C7EB solid;
    margin: 20px; /* Margin between cards */
    border-radius: 10px;
    display: flex;
    justify-content:flex-start;
  } 
  
  
  .svg-logo {
    margin-top: 10px;
    margin-left: 50px;
  }
  
  .svg-text{
    margin-top: 40px;
    margin-left: 20px;
    transition: transform 0.5s ease;
  }

  .svg-text:hover{
    transform: scale(1.1);
  }
  

  .svg-text h3{
    font-family: cursive;
    font-weight: 500;
  }


@media (max-width: 575.98px) {
  .amenities .container .card {
    width: 100%;
  }

  .amenities h2{
    font-size: 25px;
  }
  .svg-text h3{
    font-family: 'Times New Roman', Times, serif;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .amenities .container .card {
    width: 100%;
  }

  .amenities h2{
    font-size: 25px;
  }
  .svg-text h3{
    font-family: 'Times New Roman', Times, serif;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .amenities .container .card {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .amenities .container .card {
    width: 100%;
  }
}

