
.booking-form{
    display: flex;
    border: 2px #00C7EB solid;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-radius: 20px;
}

.form-btn{
    margin-top: 25px;
    border-color: #00C7EB;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.form-number{
    margin-top: 10px;
    border-color: #00C7EB;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
}

.form-name{
    margin-top: 10px;
    border-color: #00C7EB;
    border-radius: 10px;
    padding: 5px;
}

.label-name{
    font-family: cursive;
}




@media (max-width:376px){
    
    .booking-form{
        margin-left: 2%;
        margin-right: 1%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .form-btn{
        margin-left: 30%;
    }
    
    .checkindate{
        margin-left: 69px;
        width: 120px;
    }

    .checkoutdate{
        margin-left: 59px;
        width: 120px;
    }

    .parent{
        width: 120px;
        margin-left: 40px;
    }

    .child{
        margin-left: 26px;
        width: 120px;

    }

    .rooms{
        margin-left: 40px;
        width: 120px;

    }
}

 @media (min-width:376px) and (max-width: 575.98px) {

    .booking-form{
        margin-left: 2%;
        margin-right: 1%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .form-btn{
        margin-left: 30%;
    }
    
    .checkindate{
        margin-left: 70px;
        width: 140px;
    }

    .checkoutdate{
        margin-left: 58px;
        width: 140px;
    }

    .parent{
        width: 140px;
        margin-left: 40px;
    }

    .child{
        margin-left: 26px;
        width: 140px;

    }

    .rooms{
        margin-left: 40px;
        width: 140px;

    }

} 
  
@media (min-width: 576px) and (max-width: 700px) {

    .booking-form{
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .form-btn{
        margin-left: 30%;
    }
    
    .checkindate{
        margin-left: 70px;
        width: 300px;
    }

    .checkoutdate{
        margin-left: 58px;
        width: 300px;
    }

    .parent{
        width: 300px;
        margin-left: 40px;
    }

    .child{
        margin-left: 26px;
        width: 300px;

    }

    .rooms{
        margin-left: 40px;
        width: 300px;

    }
  }
@media (min-width: 700px) and (max-width: 767.98px) {

    .booking-form{
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .form-btn{
        margin-left: 30%;
    }
    
    .checkindate{
        margin-left: 70px;
        width: 400px;
    }

    .checkoutdate{
        margin-left: 58px;
        width: 400px;
    }

    .parent{
        width: 400px;
        margin-left: 40px;
    }

    .child{
        margin-left: 26px;
        width: 400px;

    }

    .rooms{
        margin-left: 40px;
        width: 400px;

    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .booking-form{
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .form-btn{
        margin-left: 30%;
    }
    
    .checkindate{
        margin-left: 70px;
        width: 500px;
    }

    .checkoutdate{
        margin-left: 58px;
        width: 500px;
    }

    .parent{
        width: 500px;
        margin-left: 40px;
    }

    .child{
        margin-left: 26px;
        width: 500px;

    }

    .rooms{
        margin-left: 40px;
        width: 500px;

    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .booking-form{
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .form-btn{
        margin-left: 30%;
    }
    
    .checkindate{
        margin-left: 70px;
        width: 700px;
    }

    .checkoutdate{
        margin-left: 58px;
        width: 700px;
    }

    .parent{
        width: 700px;
        margin-left: 40px;
    }

    .child{
        margin-left: 26px;
        width: 700px;

    }

    .rooms{
        margin-left: 40px;
        width: 700px;

    }
  }
